<div class="container">
	<form class="form-horizontal" action="/choirs/search" method="get">
		<div class="form-group">
			<label for="member_fc" class="control-label col-sm-3">{{ __ 'Qui ?' }}</label>
			<div class="col-sm-5">
				<select name="member_fc" id="member_fc" class="form-control">
					<option disabled selected>{{ __ 'Sélectionner des membres' }}</option>
					<option value="-1" {{ selected "-1" form.isFcMember }}>{{ __ 'Tous' }}</option>
					<option value="1" {{ selected "1" form.isFcMember }}>{{ __ 'Membres de la Fédération' }}</option>
					<option value="0" {{ selected "0" form.isFcMember }}>{{ __ 'Non-membres de la Fédération' }}</option>
				</select>
			</div>
		</div>


		<div class="form-group">
			<label for="lang" class="control-label col-sm-3">{{ __ 'Région linguistique ?' }}</label>
			<div class="col-sm-5">
				<select name="lang" id="lang" class="form-control">
					<option disabled selected>{{ __ 'Sélectionner une région linguistique' }}</option>
					<option value="all" {{ selected "all" form.lang }}>{{ __ 'Tous' }}</option>
					{{#each langs}}
						<option value="{{ _id }}" {{ selected _id ../form.lang }}>{{ title }}</option>
					{{/each}}
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="choir_group" class="control-label col-sm-3">{{ __ 'Groupement ?' }}</label>
			<div class="col-sm-5">
				<select name="choir_group" id="choir_group" class="form-control">
					<option disabled selected>{{ __ 'Sélectionner un groupement' }}</option>
					<option value="all" {{ selected "all" form.choirGroup }}>{{ __ 'Tous' }}</option>
					{{#each choirGroups}}
						<option value="{{ _id }}" {{ selected _id ../form.choirGroup }}>{{ slug }} - {{ name }}</option>
					{{/each}}
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="choir_type" class="control-label col-sm-3">{{ __ 'Type de choeurs ?' }}</label>
			<div class="col-sm-5">
				<select name="choir_type" id="choir_type" class="form-control">
					<option disabled selected>{{ __ 'Sélectionner un type de choeurs' }}</option>
					<option value="all" {{ selected "all" form.choirType }}>{{ __ 'Tous' }}</option>
					{{#each choirTypes }}
						<option value="{{ _id }}" {{ selected _id ../form.choirType }}>{{ slug }} - {{ name }}</option>
					{{/each}}
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="choir_president" class="control-label col-sm-3">{{ __ 'Président de choeur ?' }}</label>
			<div class="col-sm-5">
				<select name="choir_president" id="choir_president" class="form-control">
					<option disabled selected>{{ __ 'Sélectionner un Président de choeur' }}</option>
					<option value="all"{{ selected "all" form.choirPresident }}>{{ __ 'Tous' }}</option>
					{{#each users }}
						{{#in_group ../userGroupP.0._id this.group }}
							<option value="{{ _id }}" {{ selected _id ../form.choirPresident }}>{{ name.first }} {{ name.last }}</option>
						{{/in_group}}
					{{/each}}
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="choir_director" class="control-label col-sm-3">{{ __ 'Chef de choeur ?' }}</label>
			<div class="col-sm-5">
				<select name="choir_director" id="choir_director" class="form-control">
					<option disabled selected>{{ __ 'Sélectionner un Chef de choeur' }}</option>
					<option value="all" {{ selected "all" form.choirDirector }}>{{ __ 'Tous' }}</option>
					{{#each users }}
						{{#in_group ../userGroupD.0._id this.group }}
							<option value="{{ _id }}" {{ selected _id ../form.choirDirector }}>{{ name.first }} {{ name.last }}</option>
						{{/in_group}}
					{{/each}}
				</select>
			</div>
		</div>



		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-5">
				<input type="submit" class="btn btn-primary" value="{{ __ 'Rechercher' }}">
				<input type="reset" class="btn btn-default" value="{{ __ 'Effacer' }}">
			</div>
		</div>
		
	</form>
	
	
	{{#if choirs}}
		
		<p class="text-muted">{{ choirs.length }} {{ __ 'choeurs trouvés' }}</p>
		
		{{#each choirs}}


			<div class="row">
				<div class="col-sm-12">
					<h2 class="media-heading">{{name}}</h2>
				</div>
				<div class="col-sm-3">
					<p><strong>{{ type.name }}</strong></p>
					<p>
						{{#each group }}
							{{ __ 'Membre' }} <strong>{{ slug }}</strong><br />
						{{/each}}
					</p>
					<p>{{ __ 'Mise à jour' }} : {{ format_date updated_at }}</p>
				</div>
				<div class="col-sm-3">
					<p>{{ npa }} {{ place }}</p>
					<p>{{ __ 'Fondée en' }} {{ foudation_year }}</p>
				</div>
				<div class="col-sm-3">
					<p>
						<strong>{{ __ 'Président' }}</strong>
						<br />{{ president.name.first }} {{ president.name.last }}
					</p>
					{{{ address president }}}
				</div>
				<div class="col-sm-3">
					<p>
						<strong>{{ __ 'Directeur' }}</strong>
						<br />{{ director.name.first }} {{ director.name.last }}
					</p>
					{{{ address director }}}
				</div>
				
			</div>
			<hr/>
			
		{{/each}}
	{{else}}
		<!-- else -->
		<h3 class="text-muted">No choirs founds.</h3>
	{{/if}}
</div>
