<div class="container">
	{{#if events}}
		{{#each events}}

			<!-- Title -->
			<h1 class="mt-4">{{name}}</h1>



			<!-- Date/Time -->
			<p>
				{{ __ 'From' }}: <strong>{{format_datetime startTime}}</strong><br />
				{{ __ 'To' }}: <strong>{{format_datetime endTime}}</strong>
			</p>

			<p>
				{{#if location}}
					<address>
						{{location.street1}}<br />
						{{location.postcode}} {{location.suburb}}<br />
					</address>
				{{/if}}
			</p>

			<!-- Post Content -->
			{{#if description}}
				<p>
					{{description}}
				</p>
			{{/if}}

			<hr>
		{{/each}}
	{{else}}
		<!-- else -->
		<h3 class="text-muted">There are no events yet.</h3>
	{{/if}}
</div>
